<section class="overflow-x-auto mx-auto max-w-screen-md p-2 sm:p-4 mt-12">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 bg-gray-50">
      <tr>
        <th scope="col" class="px-3 sm:px-6 py-3">ID</th>
        <th scope="col" class="px-3 sm:px-6 py-3">名前</th>
        <th scope="col" class="px-3 sm:px-6 py-3">編集</th>
        <th scope="col" class="px-3 sm:px-6 py-3">削除</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white">
        <th scope="row" class="px-3 sm:px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ employee().id }}</th>
        <td class="px-3 sm:px-6 py-4">
          <app-display-name [isEdit]="isEdit" [employee]="employee"></app-display-name>
          <app-edit-name-input
            [isEdit]="isEdit"
            [employee]="employee"
            (editEmployee)="editEmployee($event)"
          ></app-edit-name-input>
        </td>
        <td class="px-3 sm:px-6 py-4">
          <app-edit-button (toggleEditMode)="toggleEditMode()"></app-edit-button>
        </td>
        <td class="px-3 sm:px-6 py-4">
          <app-delete-button (deleteEmployee)="deleteEmployee()"></app-delete-button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
